<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Ad</title>
    <div th:replace="partials/links :: links"/>
</head>
<body>
    <nav th:replace="partials/navbar :: navbar"/>

    <main class="container">
        <div th:each="item : ${ads}">
            <form th:action="@{'/ads/' + ${item.id}}">
                <h2 th:text="${item.title}"></h2>
                <p th:text="${item.description}"></p>
                <p th:if="${item.owner}">Email: <span th:text="${item.owner.email}"></span></p>
                <button>View</button>
                <br><br>
            </form>
            <br>
        </div>
    </main>

    <div th:replace="partials/scripts :: scripts"/>
</body>
</body>
</html>