<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <links th:replace="partials/links :: links"/>
</head>
<body>
<header th:replace="partials/header :: header"/>
<nav th:replace="partials/navbar :: navbar"/>
<main class="container">
    <h1>Create an account</h1>
    <form th:action="@{/register}" th:method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" /> <br>

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" /><br>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" /><br>

        <label for="confirm">Confirm Password</label>
        <input id="confirm" type="password" name="confirm" /><br>

        <label for="btn"></label>
        <input id="btn" value="Sign me up!" type="submit" />

        <footer th:replace="partials/footer_nav :: footer_nav"/>
        <scripts th:replace="partials/scripts :: scripts"/>
    </form>
</main>
</body>
</html>